@using Web.Areas.Admin.ViewModels.HotDeal
@model HotDealIndexVM


@if (Model.HotDeal == null)
{
    <a class="btn btn-success m-2" asp-action="create" asp-controller="hotdeal">Create</a>
}



<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Time</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Time</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        @if (Model.HotDeal != null)
        {
            <tr>
                <td>@Model.HotDeal.Id</td>
                <td>@Model.HotDeal.Title</td>
                <td>@Model.HotDeal.Text</td>
                <td>@Model.HotDeal.Time</td>
                <td>@Model.HotDeal.CreatedAt.ToShortDateString()</td>
                <td>@Model.HotDeal.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail" style="width:200px ;  object-fit:cover" src="~/assets/img/@Model.HotDeal.PhotoName" /></td>
                <td>
                    <form method="post" asp-action="delete" asp-controller="hotdeal" asp-route-id="@Model.HotDeal.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="hotdeal" asp-route-id="@Model.HotDeal.Id">Update</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>