@using Web.Areas.Admin.ViewModels.Find
@model FindIndexVM


@if (Model.Find == null)
{
    <a class="btn btn-success m-2" asp-action="create" asp-controller="find">Create</a>
}



<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>

        @if (Model.Find != null)
        {
            <tr>
                <td>@Model.Find.Id</td>
                <td>@Model.Find.Title</td>
                <td>@Model.Find.CreatedAt.ToShortDateString()</td>
                <td>@Model.Find.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail" style="width:150px ;  object-fit:cover" src="~/assets/img/@Model.Find.PhotoName" /></td>

                <td>
                    <form method="post" asp-action="delete" asp-controller="find" asp-route-id="@Model.Find.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="find" asp-route-id="@Model.Find.Id">Update</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>