@using Web.Areas.Admin.ViewModels.ContactInfo
@model ContactInfoIndexVM


@if (Model.ContactInfo == null)
{
    <a class="btn btn-success m-2" asp-action="create" asp-controller="contactinfo">Create</a>
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>CreateAt</th>
                <th>ModifiedAt</th>
                <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>CreateAt</th>
                <th>ModifiedAt</th>
                <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>

        @if (Model.ContactInfo != null)
            {
                <tr>
                    <td>@Model.ContactInfo.Id</td>
                    <td>@Model.ContactInfo.Address</td>
                    <td>@Model.ContactInfo.Email</td>
                    <td>@Model.ContactInfo.Phone</td>
                    <td>@Model.ContactInfo.Website</td>
                    <td>@Model.ContactInfo.CreatedAt.ToShortDateString()</td>
                    <td>@Model.ContactInfo.ModifiedAt.ToShortDateString()</td>

                    <td>
                        
                        <form method="post" asp-action="delete" asp-controller="ContactInfo" asp-route-id="@Model.ContactInfo.Id">
                            <a class="btn btn-warning m-2" asp-action="update" asp-controller="ContactInfo" asp-route-id="@Model.ContactInfo.Id">Update</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>

            }
    </tbody>
</table>