@using Web.Areas.Admin.ViewModels.Testimonial
@model TestimonialIndexVM




<a class="btn btn-success m-2" asp-action="create" asp-controller="testimonial">Create</a>


<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Description</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Description</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var testimonial in Model.Testimonials)
        {
            <tr>
                <td>@testimonial.Id</td>
                <td>@testimonial.FullName</td>
                <td>@Html.Raw(testimonial.Description)</td>
                <td>@testimonial.CreatedAt.ToShortDateString()</td>
                <td>@testimonial.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail" style="width:200px ;  object-fit:cover" src="~/assets/img/@testimonial.PhotoName" /></td>

                <td>

                    <form method="post" asp-action="delete" asp-controller="testimonial" asp-route-id="@testimonial.Id">
                        <a class="btn  btn-warning mb-2" asp-action="update" asp-controller="testimonial" asp-route-id="@testimonial.Id">Update</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>