@using Web.ViewModels.Shop
@model ShopIndexVM


<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="dealofday intro aos-init aos-animate first-sec">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">SHOP</span></p>
        <h4 class="h4-intro">SHOP</h4>
    </div>
</section>



<section>


    <!-- products section starts -->
    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <form method="get" asp-action="index" asp-controller="shop">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" type="search" placeholder="Enter product name" class="search-doctor-input">
                                    <button type="submit" class="btn btn-success"><i class="bi bi-search"></i>Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="categories">
                            <h4>Product categories</h4>
                            <ul>
                                @foreach (var category in Model.ProductCategories)
                                {
                                    <li data-id="@category.Id" id="categor"><a href="#"> @category.Title (@category.Products.Count)</a> </li>
                                }
                            </ul>
                        </div>
                        <div class="categories brand">
                            <h4>BY BRAND</h4>
                            <ul>

                                @foreach (var brand in Model.Brands)
                                {
                                    <li data-id="@brand.Id" id="brand"><a href="#"> @brand.Title (@brand.Products.Count)</a></li>
                                }

                            </ul>
                        </div>

                        <div class="tags">
                            <h4>BY TAGS</h4>
                            <ul>
                                @foreach (var tag in Model.Tags)
                                {
                                    <a data-id="@tag.Id" id="tag" href="#">@tag.Title</a>
                                    @*<li data-id="@tag.Id" id="tag"><a href="#"> @tag.Title</a></li>*@
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="banner-img img-full">
                        <a href="#"><img class="img-fluid mx-auto" src="https://www.ncodetechnologies.com/zooy/images/add-img-270x405.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row" id="Tural">

                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="@product.Id">
                                    <div class="product-image"
                                     style="background-image: url(assets/img/@product.PhotoName);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div id="addToCart" data-price="@product.Price" data-title="@product.Title" data-photoname="@product.PhotoName" data-id="@product.Id" class=" text-center">
                                                <i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5> <a class="productt-name" asp-action="details" asp-controller="shop" asp-route-id="@product.Id">@product.Title</a> </h5>

                                        <p><span>$</span><span class="price">@product.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        }


                        <nav data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    @if (Model.Page > 1)
                                    {
                                        <div>
                                            @{
                                                var prevPage = @Model.Page - 1;

                                                <a itemprop="url" asp-action="index" asp-controller="shop" asp-route-page="@prevPage" class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            }
                                        </div>
                                    }
                                </li>

                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="@(Model.Page==i ? "active disabled" : "inactive")"><a asp-action="index" class="page-link " asp-controller="shop" asp-route-page="@i">@i</a></li>
                                }

                                @if (Model.PageCount != Model.Page)
                                {
                                    <div>
                                        @{
                                            var nextPage = @Model.Page + 1;
                                            <a itemprop="url" asp-action="index" asp-controller="shop" asp-route-page="@nextPage" class="page-link" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        }
                                    </div>
                                }
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
    </section>
    <!-- products section ends -->
    </main>
    <div style="display: none;" class="countdown-timer-values" id="year">1</div>
    <div style="display: none;" class="countdown-timer-values" id="mounth"></div>
    <div style="display: none;" class="countdown-timer-values" id="days"></div>
    <div style="display: none;" class="countdown-timer-values" id="hours"></div>
    <div style="display: none;" class="countdown-timer-values" id="minutes"></div>
    <div style="display: none;" class="countdown-timer-values" id="seconds"></div>
</section>