@using Web.Areas.Admin.ViewModels.Product
@model ProductIndexVM




<a class="btn btn-success m-2" asp-action="create" asp-controller="product">CREATE</a>


<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>

        @foreach (var product in Model.Products)
        {
            <tr>
                <td scope="row">@product.Id</td>
                <td>@product.Title</td>
                <td>@product.CreatedAt.ToShortDateString()</td>
                <td>@product.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail"  style="width:150px ;  object-fit:cover" src="~/assets/img/@product.PhotoName" /></td>

                <td>

                    <form method="post" asp-action="delete" asp-controller="product" asp-route-id="@product.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="product" asp-route-id="@product.Id">Update</a>
                         <a class="btn btn-light m-2" asp-action="addtags" asp-controller="product" asp-route-id="@product.Id">Add tags</a>
                          <a class="btn btn-info" asp-action="details" asp-controller="product" asp-route-id="@product.Id">Info</a>
                        <button type="submit" class="btn btn-primary m-2">Delete</button>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>