@using Web.Areas.Admin.ViewModels.HomeMainSlider
@model HomeMainSliderIndexVM

<a class="btn btn-success m-2" asp-action="create" asp-controller="homemainslider">Create</a>



<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>SubDescription</th>
            <th>LearnUrl</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>SubDescription</th>
            <th>LearnUrl</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>

         @foreach (var homeMainSlider in Model.HomeMainSliders)
            {
                <tr>
                    <td>@homeMainSlider.Id</td>
                    <td>@homeMainSlider.Title</td>
                    <td>@Html.Raw(homeMainSlider.Description)</td>
                    <td>@homeMainSlider.SubDescription</td>
                    <td>@homeMainSlider.LearnUrl</td>
                    <td>@homeMainSlider.CreatedAt.ToShortDateString()</td>
                    <td>@homeMainSlider.ModifiedAt.ToShortDateString()</td>
                    <td><img style="width:250px ;  object-fit:cover" class="img-thumbnail"  src="~/assets/img/@homeMainSlider.PhotoName" /></td>

                    <td>
                        
                        <form method="post" asp-action="delete" asp-controller="homemainslider" asp-route-id="@homeMainSlider.Id">
                            <a class="btn btn-warning m-2" asp-action="update" asp-controller="homemainslider" asp-route-id="@homeMainSlider.Id">Update</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
    </tbody>
</table>