@using Web.ViewModels.Shop
@model ShopTagProductIndexVM


@foreach (var product in Model.Tag.CategoriesTags)
{
    <div class="col-lg-4 col-md-6 pb-5">
        <div class="productt" id="@product.Product.Id">
            <div class="product-image"
             style="background-image: url(assets/img/@product.Product.PhotoName);">
                <div class="basket-wishlist-compare d-flex justify-content-center">
                    <div id="addToCart" data-price="@product.Product.Price" data-title="@product.Product.Title" data-photoname="@product.Product.PhotoName" data-id="@product.Product.Id" class=" text-center">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                </div>
            </div>
            <div class="product-inf">
                <h5> <a class="productt-name" asp-action="details" asp-controller="shop" asp-route-id="@product.Product.Id">@product.Product.Title</a> </h5>

                <p><span>$</span><span class="price">@product.Product.Price</span></p>
            </div>
        </div>
    </div>

}