@using Web.Areas.Admin.ViewModels.Welcome
@model WelcomeIndexVM


@if (Model.Welcome == null)
{
    <a class="btn btn-success m-2" asp-action="create" asp-controller="welcome">Create</a>
}
<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        @if (Model.Welcome != null)
        {
            <tr>
                <td>@Model.Welcome.Id</td>
                <td>@Model.Welcome.FullName</td>
                <td>@Model.Welcome.Title</td>
                <td>@Model.Welcome.CreatedAt.ToShortDateString()</td>
                <td>@Model.Welcome.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail" style="width:200px;height:50px ;background-color:white;  object-fit:cover" src="~/assets/img/@Model.Welcome.PhotoName" /></td>
                <td>

                    <form method="post" asp-action="delete" asp-controller="welcome" asp-route-id="@Model.Welcome.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="welcome" asp-route-id="@Model.Welcome.Id">Update</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>