@using System.Web
@using Web.ViewModels.About
@model AboutIndexVM


<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">ABOUT</span></p>
        <h4 class="h4-intro">ABOUT US</h4>
    </div>
</section>


@if (Model.Welcome != null)
{
    <section data-aos="fade-in" class="welcome">
        <div data-aos="fade-right" class="welcome-div">
            <h2 class="welcome-h2">@Html.Raw(Model.Welcome.Title)</h2>
            <p class="welcome-p1">@Model.Welcome.Text</p>
            <p class="welcome-p2">@Model.Welcome.Description</p>
            <div class="welcome-div2">
                <div><img src="~/assets/img/@Model.Welcome.PhotoName" alt=""></div>
                <div class="welcome-info2">
                    <p class="ceo">Co.Founder</p>
                    <p class="ceo-name">@Model.Welcome.FullName</p>

                </div>
            </div>
        </div>
    </section>

}


@if (Model.OurHistory != null)
{
    <section class="our-history">
        <div class="our-history-div">
            <div data-aos="fade-in"><img class="welcome-img" src="~/assets/img/@Model.OurHistory.PhotoName" alt=""></div>
            <div data-aos="fade-in">
                <p class="our-p1">@Model.OurHistory.SubTitle</p>
                <h2 class="our-h2">@Model.OurHistory.Title</h2>
                <p class="our-p">@Model.OurHistory.Description</p>
                <a class="btn common-btn btnday" asp-action="index" asp-controller="shop" style="background-color: #fcb818" tabindex="0"><span>Shop Now</span><i class="icon-next"></i></a>

            </div>
        </div>
    </section>


}



<!-- slider -->

<section data-aos="zoom-in">
    <!-- Testimonial Carousel -->
    <div class="testimonial-reel">


        <!-- Testimonial -->
        @foreach (var testimonial in Model.Testimonials)
        {
            <div>

                <div class="box">

                    <!-- Testimonial Image -->
                    <figure class="image">
                        <img class="img-fluid rounded-circle"s style=" width:115px; object-fit:cover" src="~/assets/img/@testimonial.PhotoName">
                    </figure>
                    <!-- / Testimonial Image -->

                    <div class="test-component">
                        <!-- Title -->
                        <article class="test-title">

                            <h4>
                                @testimonial.FullName
                            </h4>

                        </article>
                        <!-- / Title -->

                        <article class="test-content">
                            <p>
                                @Html.Raw(testimonial.Description)
                            </p>
                        </article>

                    </div>

                </div>

            </div>
        }


        <!-- / Testimonial -->




    </div>
    <!-- / Testimonial Carousel -->
</section>

 @await Component.InvokeAsync("HelpLine")