@{
    ViewBag.Title = "Forgot Password";
    var returnUrl = Context.Request.Query["returnUrl"];
}

@using Web.ViewModels.Account;
@model ForgotPasswordVM;




       @*         <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">Find account by email</span>
                            <form asp-action="forgotpassword" asp-controller="account" method="post">
                                <div class="field padding-bottom--24">
                                    <label asp-for="@Model.Email"></label>
                                    <input asp-for="@Model.Email">
                                    <span style="font-size:14px;color:red;" asp-validation-for="@Model.Email"></span>
                                </div>

                                <div asp-validation-summary="ModelOnly">
                                </div>

                                <div class="field padding-bottom--24">
                                    <button id="register-login-btn" type="submit">Search</button>
                                </div>
                            </form>

                        </div>
                    </div>*@



<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">LOGIN</span></p>
        <h4 class="h4-intro">Forgot Pass</h4>
    </div>
</section>

<section class="login-sec">
    <div class="login-div">
  

        <div class="login-right">
            <div class="form-heading">
                <h2 class="form-tit">Returning Customer</h2>
                <p class="form-tit2">I am a returning customer</p>
            </div>
            <form asp-action="forgotpassword" asp-controller="account" method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                        <div class="form-group">
                            <label style="display:none" asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" class="form-control-1" placeholder="Email *">
                            <span asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                          
            </div>
            <div class="form-group">
                <button type="submit" class="btn submit-btn">Search</button>
            </div>
            </form>
        </div>
    </div>

</section>