@using Web.Areas.Admin.ViewModels.ProductCategory
@model ProductCategoryIndexVM

<a class="btn btn-success m-2" asp-action="create" asp-controller="productcategory">Create</a>


<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>

        @foreach (var productCategory in Model.ProductCategories)
        {
            <tr>
                <td scope="row">@productCategory.Id</td>
                <td>@productCategory.Title</td>
                <td>@productCategory.CreatedAt.ToShortDateString()</td>
                <td>@productCategory.ModifiedAt.ToShortDateString()</td>
                <td><img class="img-thumbnail"  style="width:150px ;  object-fit:cover" src="~/assets/img/@productCategory.PhotoName" /></td>

                <td>

                    <form method="post" asp-action="delete" asp-controller="productcategory" asp-route-id="@productCategory.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="productcategory" asp-route-id="@productCategory.Id">Update</a>
                        <button type="submit" class="btn btn-primary m-2">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>