@using Core.Constants
@using Web.Areas.Admin.ViewModels.Blog
@model BlogDetailsVM




<h3>Id:</h3>
<p>@Model.Id</p>

<h3>Title:</h3>
<p>@Model.Title</p>

<h3>DetailTitle:</h3>
<p>@Model.DetailTitle</p>

<h3>Text:</h3>
<p>@Model.Text</p>

<h3>DescriptionOne:</h3>
<p>@Model.DescriptionOne</p>

<h3>DescriptionTwo:</h3>
<p>@Model.DescriptionTwo</p>

<h3>DescriptionThree:</h3>
<p>@Model.DescriptionThree</p>

<h3>Paragraph:</h3>
<p>@Model.Paragraph</p>

<h3>Time:</h3>
<p>@Model.Time</p>



<h3>Photo:</h3>
<p><img src="~/assets/img/@Model.MainPhotoName" /></p>

<a class="btn btn-primary m-2" asp-action="index" asp-controller="blog">Cancel</a>