@using Web.Areas.Admin.ViewModels.OurHistory
@model OurHistoryIndexVM


@if (Model.OurHistory == null)
{
    <a class="btn btn-success m-2" asp-action="create" asp-controller="ourhistory">Create</a>
}


<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>SubTitle</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>SubTitle</th>
            <th>CreateAt</th>
            <th>ModifiedAt</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
            @if (Model.OurHistory != null)
            {
                <tr>
                    <td>@Model.OurHistory.Id</td>
                    <td>@Model.OurHistory.Title</td>
                    <td>@Model.OurHistory.SubTitle</td>
                    <td>@Model.OurHistory.CreatedAt.ToShortDateString()</td>
                    <td>@Model.OurHistory.ModifiedAt.ToShortDateString()</td>
                    <td><img class="img-thumbnail" style="width:200px ; object-fit:cover" src="~/assets/img/@Model.OurHistory.PhotoName" /></td>

                    <td>
                       <form method="post" asp-action="delete" asp-controller="ourhistory" asp-route-id="@Model.OurHistory.Id">
                        <a class="btn btn-warning m-2" asp-action="update" asp-controller="ourhistory" asp-route-id="@Model.OurHistory.Id">Update</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </td>
                </tr>

            }
    </tbody>
</table>
 