@using System.Web
@using Web.ViewModels.Blog
@model BlogDetailsVM

<section data-aos="fade-up" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/background-bg-1600x156.jpg);" class="first-sec dealofday intro aos-init aos-animate">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">BLOG</h4>
    </div>
</section>




<section>


    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 blogsingle yeah12 ">
                <img src="~/assets/img/@Model.PhotoName" alt="">
                <h2>@Model.Title</h2>
                <p class="p">
                    @Model.DescriptionOne
                </p>
                <p style="margin-top:-10px" class="p">
                    @Model.DescriptionTwo
                </p>
                <h2 style="margin-top: 50px;">@Model.DetailTitle</h2>
                <p style="margin-top:-10px" class="p">
                    @Model.DescriptionThree
                </p>

            </div>


            <div class="col-lg-4 blogsingle rigth yeah123">




                @*<h3 class="RecentBlog">Recent Blog</h3>

                <div class="catagoriyes-blog">
                    <div style="display: flex;" class="catagoriyes-blog-image">

                        <div class="catagoriyes-blog-image-img" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/recent-blog-img01-92x78.jpg);"></div>

                        <div class="catagoriyes-blog-image-item">
                            <p>Even the all-powerful Pointing has no control about the blind texts</p>
                        </div>

                    </div>
                    <div class="meta1">
                        <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    </div>
                </div>
                <div class="catagoriyes-blog">
                    <div style="display: flex;" class="catagoriyes-blog-image">

                        <div class="catagoriyes-blog-image-img" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/recent-blog-img02-92x78.jpg);"></div>

                        <div class="catagoriyes-blog-image-item">
                            <p>Even the all-powerful Pointing has no control about the blind texts</p>
                        </div>

                    </div>
                    <div class="meta1">
                        <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    </div>
                </div>
                <div class="catagoriyes-blog">
                    <div style="display: flex;" class="catagoriyes-blog-image">

                        <div class="catagoriyes-blog-image-img" style="background-image: url(https://www.ncodetechnologies.com/zooy/images/recent-blog-img01-92x78.jpg);"></div>

                        <div class="catagoriyes-blog-image-item">
                            <p>Even the all-powerful Pointing has no control about the blind texts</p>
                        </div>

                    </div>
                    <div class="meta1">
                        <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    </div>
                </div>*@

                <h3 class="RecentBlog" >Paragraph</h3>
                <p class="paraqraff">@Model.Paragraph</p>


            </div>

        </div>
    </div>
</section>