@using System.Web
@using Web.ViewModels.Home
@model HomeIndexVM


<section data-aos="fade-in" class="slider first-sec">
    <div class="single-item">

        @foreach (var homeMainSlider in Model.HomeMainSliders)
        {
            <div class="slider-content" style="  background-image: url('/assets/img/@homeMainSlider.PhotoName');">
                <p class="p-slider">@homeMainSlider.Title</p>
                <h2 class="h2-slider">@Html.Raw(homeMainSlider.Description)</h2>
                <p class="p2-slider">@homeMainSlider.SubDescription</p>
                <div class="slide-btn">
                    <a class="btn common-btn" href="@homeMainSlider.LearnUrl"><span>Explore Now</span><i class="icon-next"></i></a>
                </div>


            </div>
        }

    </div>
</section>

<section data-aos="fade-up" class="best">

    <div data-aos="fade-up" class="best-seller">
        <div class="bs-text">
            <div><img src="https://www.ncodetechnologies.com/zooy/images/tit-deco.png" alt=""></div>
            <span class="punchline">Top Sale On This Week</span>
            <h2 class="sec-title">Best Seller</h2>
        </div>

        <div class="best-seller-card" style="display: flex;">

            @foreach (var product in Model.Products.Take(4))
            {
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="~/assets/img/@product.PhotoName" alt="">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">@product.ProductCategory.Title</span>
                        <h4><a class="productt-name" asp-action="details" asp-controller="shop" asp-route-id="@product.Id">@product.Title</a></h4>
                        <div class="product-bottom-details">
                            <div class="product-price">$@product.Price</div>
                            <div class="product-links">
                                <a style="cursor:pointer" id="addToCart" data-price="@product.Price" data-title="@product.Title" data-photoname="@product.PhotoName" data-id="@product.Id"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }





        </div>
</section>

@if (Model.Find != null)
{
    <section class="find-section">
        <div class="find">
            <div data-aos="fade-up" class="find-div">
                <h2 class="find-h2">@Model.Find.Title</h2>
                <a class="btn btn-dark explore" asp-action="index" asp-controller="shop"><span>Explore Now</span></a>
            </div>
            <div data-aos="fade-up" class=""><img class="foto-find" src="~/assets//img/@Model.Find.PhotoName" alt=""></div>
        </div>
    </section>

}



<section data-aos="fade-up" class="p-category">
    <div class="bs-text">
        <div><img src="https://www.ncodetechnologies.com/zooy/images/tit-deco.png" alt=""></div>
        <span class="punchline">All Popular Categories</span>
        <h2 class="sec-title" style="text-align: center;">Popular Categories</h2>
    </div>
    <div class="p-categoryrow">

        @foreach (var category in Model.ProductCategories)
        {
            <div style="background-image: url('/assets/img/@category.PhotoName');" class="p-category-div cat-div">
                <h2 class="p-category-h2">@category.Title</h2>
                <a class="btn btn-dark explore view-collect" data-id="@category.Id" id="categor" asp-controller="shop" ><span>View Collection</span></a>
            </div>
        }
    </div>
</section>


@if (Model.HotDeal != null)
{
    <section data-aos="fade-up" style="background-image: url('/assets/img/@Model.HotDeal.PhotoName');" class="dealofday">
        <div class="divday">
            <h2 style="margin-bottom: 25px;">@Model.HotDeal.Title</h2>
            <h4>@Model.HotDeal.Text</h4>
            <div style="margin-top: 60px;">
                <div class="countdown-timer-container">
                    <div style="display: none;" class="countdown-timer-values" id="year">@Model.HotDeal.Time.Year</div>
                    <div style="display: none;" class="countdown-timer-values" id="mounth">@Model.HotDeal.Time.Month</div>
                    <div class="countdown-timer-values" id="days">@Model.HotDeal.Time.Day</div>
                    <div class="countdown-timer-values" id="hours">@Model.HotDeal.Time.Hour</div>
                    <div class="countdown-timer-values" id="minutes">@Model.HotDeal.Time.Minute</div>
                    <div class="countdown-timer-values" id="seconds">00</div>
                    <div class="countdown-div">days</div>
                    <div class="countdown-div">hours</div>
                    <div class="countdown-div">minutes</div>
                    <div class="countdown-div">seconds</div>
                </div>
            </div>
            <div class="slide-btn">
                <a class="btn common-btn btnday" asp-action="index" asp-controller="shop" tabindex="0"><span>Explore Now</span><i class="icon-next"></i></a>
            </div>
        </div>
    </section>

}



<section data-aos="fade-right" class="last-new">
    <div class="bs-text">
        <div><img src="https://www.ncodetechnologies.com/zooy/images/tit-deco.png" alt=""></div>
        <span class="punchline">
            Check Our Latest News
        </span>
        <h2 class="sec-title">Latest News</h2>
    </div>
    <div class="p-categoryrow">

        @foreach (var blog in Model.Blogs)
        {
            <div class="p-category-div  lastnew-div">
                <div><img class="last-new-img" style="width: 390px; height:287px" src="~/assets/img/@blog.MainPhotoName" alt=""></div>
                <div class="info-last">
                    <div class="post-date">@blog.Time.ToString("dd.MM.yyyy")</div>
                    <h4><a class="blog-tit" asp-action="details" asp-controller="blog" asp-route-id="@blog.Id">@blog.Title</a></h4>
                    <p class="blog-dis">@blog.Text</p>
                    <a asp-action="details" asp-controller="blog" asp-route-id="@blog.Id" class="rmore btn1">Read more <i class="icon-right-arrow"></i></a>
                </div>
            </div>
        }


    </div>

</section>

<section data-aos="fade-in">
    <!-- karusel -->

    <div style="background-image: url(https://www.ncodetechnologies.com/zooy/images/nwsletter-back.jpg);" class="karusel1">
        <div class="container">

            <div class="col-12">

                <div class="container1">
                    <div class="faders">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>

                    <div class="items">

                        @foreach (var brand in Model.Brands)
                        {
                            <div class="entry">
                                <img style="width: 100%; height: 100%;  object-fit: contain;" src="~/assets/img/@brand.PhotoName" alt="">
                            </div>
                        }


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


@await Component.InvokeAsync("HelpLine")
